
@using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "" }))
{
   <div class="input-group">
       <input type="text" class="form-control" name="t" placeholder="Search for products">
       <div class="input-group-append">
           <span class="input-group-text bg-transparent text-primary">
               <i class="fa fa-search"></i>
           </span>
       </div>
   </div>
}
